.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  height: 90vh;
}

/* Styles the main title */
.video-container h1 {
  font-family: "Rye", serif;
  font-size: 3rem;
  color: var(--glow-pale);
  margin-bottom: 0.5rem;
}

/* Styles the small paragraph under the title */
.video-container p {
  font-size: 1.2rem;
  color: #c9d6e0;
  margin-bottom: 2rem;
  max-width: 600px;
}

/* Styles the video player  */
.video-container iframe {
  max-width: 550px;
  aspect-ratio: 16 / 9;
  width: 100%; /* Makes the video responsive */
  border-radius: 16px;
  border: 2px solid #4e8098;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
